.device-title {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.back-button {
  float: left;
  position: absolute;
  width: 100px;
  height: 40px;
  font-size: 15px;
  margin-left: 20px;
  cursor: pointer;
}

.delete-device-button {
  width: 150px;
  height: 40px;
  font-size: 15px;
  background: linear-gradient(#fc3f3f, #ff8484);
  cursor: pointer;
}

.device-type-and-style{
  text-align: center;
  width: 350px;
  margin: 0 auto;
}

.button-center-class {
  text-align: center;
  margin-top: 100px;
}

.device-type-label {
  text-align: center;
  display: inline-flex;
}

.device-style-label {
  margin-left: 20px;
  text-align: center;
  display: inline-flex;
}

.select-style {
  margin-bottom: 20px;
  margin: 0 auto;
  width: 50%;
}

.data-view {
  margin: 0 auto;
  width: 500px;
}
