
.App-header {
  text-align: center;
  background-color: #222;
  height: 85px;
  padding: 20px;
  color: white;
}

.centered {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.add-device-button {
  position: absolute;
  margin-top: 10px;
  right: 20px;
  width: 100px;
  height: 40px;
  font-size: 15px;
  margin-left: 20px;
  cursor: pointer;
}
